.h2 .ribbon-front {
	width: 201px !important;
}

.ribbon-edge-topleft2 {
	left: 191px !important;
}
.alreadyacc{
	text-align: center;
    font-weight: bold;
    margin: -5px;
}
body{
	background-color: #2d4866;
}
.panel:hover{
	box-shadow: 5px 0px 40px white!important;
}